* {
    box-sizing: border-box;
}
.container {
    max-width: 720px;
    margin: 0 auto;
}
body {
    min-height: 100vh;
    margin: 0; padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    color: #5F9EA0;
}
.header {
    background-color: #5F9EA0;
}
.nav-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    flex-wrap: wrap;
    padding-left: 0;
}
.nav-link {
    padding: 0 20px;
    line-height: 30px;
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
  }
  .nav-link:hover {
    transition: .3s;
    color: #DC143C;
    background: gold;
  }
.main {
    border: 40px solid #FFF;
}
.main-container {
    display: flex;
    flex-wrap: wrap;
}
.avatar {
    text-align: center;
}
.section {
    width: 100%;
  }
  @media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }
  .section-title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 400;
    text-transform: capitalize;
    background-color: #E0FFFF;
    color: #5F9EA0;
  }
.name {
    text-transform:uppercase;
    letter-spacing: 4px;
    font-size: 40px;
}
.section-profession {
    text-transform:uppercase;
    letter-spacing: 4px;
    font-size: 30px;
}
.content {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: justify;
    padding: 0 5%;
}
.skills-content {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0 7.5%;
}
.footer {
    background-color: #5F9EA0;
    color: #ffffff;
    padding: auto;
    line-height: 50px;
    text-decoration: none;
    font-size: 15px;
}
.container-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
html {
    scroll-behavior: smooth; 
  }
  .contacts-link {
    line-height: 30px;
    text-decoration: none;
    color: #5F9EA0;
    font-size: 15px;
  }
  .contacts-link:hover {
    transition: .3s;
    color: #DC143C;
    background: gold;
  }
  .contacts-container {
      text-align: center;
  }
  .contacts-content {
    list-style: none;
  }
  .code {
      display: flex;
      justify-content: center;
      color: black;
  }
  .footer-link {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
  }
  .footer-link:hover {
    transition: .3s;
    color: #DC143C;
    background: gold;
  }
  .rss-link {
    width: 100px;
    height: 37px;
    background-image: url(./assets/img/rs_school_js.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto 0;
  }